<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" name="name" id="name" aria-describedby="help_name" placeholder="" value="{{cat.name}}">
  <small id="help_name" class="form-text text-muted">Enter your cats name</small>
</div>
<div class="form-group">
  <label for="age">Age</label>
  <input type="number"
    class="form-control" name="age" id="age" aria-describedby="help_age" placeholder="" min="0" value="{{cat.age}}">
  <small id="help_age" class="form-text text-muted">Enter your cats age</small>
</div>
