{% extends 'base.html' %} 
{% block title %} Edit a cat {% endblock title %} 
{% block content %}
<form action="{% url 'cats:update' cat.id %}" method="POST">
    {% csrf_token %}
    <h2>Edit {{cat.name}}</h2>
     {% if messages %}
    <div class="alert alert-danger">
        <ul class="messages">
            {% for msg in messages %}
            <li>{{msg.message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div>
        {% include "cats/_cat_fields.html" %}
    </div>
    <button type="submit" class="btn btn-primary">Update!</button>
</form>
{% endblock content %}
