{% extends 'base.html' %} 
{% block title %} Welcome {% endblock title %} 
{% block content %}
{% include '_flash_msgs.html' %}
<h2>Welcom {{user.first_name}}!!</h2>
{% comment %} <a href="{% url 'cats:new'%}">Add a cat!</a> {% endcomment %}

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Likes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if cats %} {% for cat in cats %}
        <tr>
            <td scope="row"><a href="{% url 'cats:show' cat.id %}">{{cat.name}}</a></td>
            <td>{{cat.age}}</td>
            <td>{{cat.likes.count}}</td>
            <td>
                {% if cat.user == user %}
                    <a href="{% url 'cats:destroy' cat.id %}">delete</a> | <a href="{% url 'cats:edit' cat.id %}">edit</a>
                {% else %}
                    {% if user in cat.likes.all %}
                        <a href="{% url 'cats:destroy_like' cat.id %}">Remove Like</a>
                    {% else %}
                        <a href="{% url 'cats:create_like' cat.id %}">Add Like</a>
                    {% endif %}
                {% endif %}
                </td>
        </tr>
        {% endfor %} {% endif %}
    </tbody>
</table>
<!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
{% endblock content %}
