{% extends 'base.html' %} 
{% block title %} Welcome {% endblock title %} 
{% block content %}
<h2>Welcom {{user.first_name}}!!</h2>
<a href="{% url 'cats:new'%}">Add a cat!</a>

<table class="table table-striped">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Likes</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if cats %} {% for cat in cats %}
        <tr>
            <td scope="row">{{cat.name}}</td>
            <td>{{cat.age}}</td>
            <td>{{cat.likes.count}}</td>
            <td>
                {% if cat.user.id == user.id %}
                    <a href="{% url 'cats:destroy' cat.id %}">delete</a> | <a href="{% url 'cats:edit' cat.id %}">edit</a>
                {% else %}
                    <a href="{% url 'cats:create_like' cat.id %}">Add Like</a>
                {% endif %}
                </td>
        </tr>
        {% endfor %} {% endif %}
    </tbody>
</table>
<!--<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>-->
{% endblock content %}
