{% extends 'base.html' %} 
{% block title %} Add a cat {% endblock title %} 
{% block content %}
<form action="{% url 'cats:create' %}" method="POST">
    {% csrf_token %}
    <h2>Add a cat</h2>
    {% if messages %}
    <div class="alert alert-danger">
        <ul class="messages">
            {% for msg in messages %}
            <li>{{msg.message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div>
        {% include "cats/_cat_fields.html" %}
    </div>
    <button type="submit" class="btn btn-primary">Add!</button>
</form>
{% endblock content %}
